{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia - Edit {{title}}
{% endblock %}

{% block body %}

    <h1>Edit the entry for {{title|safe}}</h1>
    <br>

    <form action="{% url 'encyclopedia:edit' title %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="name" id="title" value="{{title}}">
        <textarea id="entry" name="entry" rows="20" cols="100">{{entry}}</textarea>
        <input type="submit">
    </form>

    <br>
    <a href="{% url 'encyclopedia:index' %}">Return Home</a>

{% endblock %}
