{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

    {% if entry == None %}
        <h1>Entry Not Found</h1>
        <br>
        <br>
        <p>Requested page <b>{{title}}</b> was not found</p>
        <br>
        <a href="{% url 'encyclopedia:index' %}">Return Home</a>
        {% else %}
        <br>
        {{entry|safe}}
        <br>
        {% comment %} <a href="{% url 'encyclopedia:edit' title %}">Edit Entry</a> {% endcomment %}

    {% endif %}

{% endblock %}
